<div *ngIf="successMessage" class="success-message">
  {{ successMessage }}
  <button (click)="successMessage = null">×</button>
</div>
<div>
  <h3>Lista de pedidos</h3>
  <!-- Filtros -->
  <div class="filters">
    <label for="status">Estado:</label>
    <select id="status" [(ngModel)]="selectedStatus">
      <option value="">Todos</option>
      <option *ngFor="let status of statusOptions" [value]="status">{{ status }}</option>
    </select>

    <label for="startDate">Fecha de Inicio:</label>
    <input id="startDate" type="date" [(ngModel)]="startDate">

    <label for="endDate">Fecha de Fin:</label>
    <input id="endDate" type="date" [(ngModel)]="endDate">

    <button (click)="filterOrders()">Filtrar</button>

      <!-- Campo de búsqueda por ID -->
    <label for="orderId">ID Pedido:</label>
    <input id="orderId" type="text" [(ngModel)]="searchOrderId" (keyup.enter)="searchOrderById()" placeholder="Buscar Pedido">
    <button (click)="searchOrderById()">Buscar por ID</button>

    <input type="text" [(ngModel)]="searchClientId" (keyup.enter)="searchByClientId()" placeholder="Buscar Cliente">
    <button (click)="searchByClientId()">Buscar</button>

    <label>
      Buscar por Nombre, Teléfono o Identificación:
      <input type="text" [(ngModel)]="searchTerm" (input)="onSearchTermChanged(searchTerm)" placeholder="Buscar por nombre, teléfono o identificación">
    </label>

  </div>|

  <table>
    <thead>
      <tr>
        <th translate="no">Id</th>
        <th>Estado</th>
        <th>Total</th>
        <th>Fecha de creación</th>
        <th>Fecha Modificacion</th>
        <th>Datos Cliente</th>
        <th>Datos de envío</th>
        <th>Productos</th>
        <th>Acciones</th>
        <th>Copiar Datos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of filteredOrders"> <!-- Cambiar orders por filteredOrders -->
        <td>{{ order.id }}</td>
        <td>
          <div class="status-container">
            <div [ngClass]="getStatusClass(order.status)" class="status"></div>
            {{ translateStatus(order.status) }}
          </div>
        </td>
        <td>{{ order.total }} {{ order.currency }}</td>
        <td>
          <span tooltip="{{ order.date_created | date: 'yyyy-MM-ddTHH:mm:ss' }}">
            {{ order.date_created | date: 'dd-MM-yyyy' }}
          </span>
        </td>
        <td>
          <span tooltip="{{ order.date_modified | date: 'yyyy-MM-ddTHH:mm:ss' }}">
            {{ order.date_modified | date: 'dd-MM-yyyy' }}
          </span>
        </td>
        <td>
          <span tooltip="{{ order.billing.address_1 }}
            {{ order.billing.city }}, {{ order.billing.state }} {{ order.billing.postcode }}
            {{ order.billing.country }}
            {{ order.billing.email }}
             {{ order.billing.identification }}
            {{ order.billing.phone }}
             {{ order.billing.phone2 }}">
            {{ order.billing.first_name }} {{ order.billing.last_name }}
            {{ order.billing.id_cliente }}
            <br/>
            <br/>
          </span>
        </td>
        <td>
          {{ order.shipping.first_name }} {{ order.shipping.last_name }}<br/>
          {{ order.shipping.address_1 }}<br/>
          {{ order.shipping.city }}, {{ order.shipping.state }} {{ order.shipping.postcode }}<br/>
          {{ order.shipping.country }}
          {{ order.shipping.price_shipping }}
          {{ order.billing.phone}}
          {{ order.billing.identification }}
        </td>
        <td>
          <table>
            <thead>
              <tr>
                <th>Nombre de Producto</th>
                <th>Cantidad</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of order.line_items">
                <td>{{ item.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.total }}</td>
              </tr>
            </tbody>
          </table>
        </td>
        <td> <!-- Botón de edición dentro del bucle -->
          <button (click)="openEditOrderModal(order)" class="btn btn-primary">Editar</button>
          <button (click)="generatePDF(order)">Generate PDF</button>
        </td>
        <td>
          <div>
            <label>
              <input type="checkbox" (change)="togglePaymentType(order)" [checked]="order.shipping.paymentType === 'Contraentrega'">
              Contraentrega
            </label>
          </div>
          <button (click)="copyShippingData(order)">Copy</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

