.order-form {
  max-width: 600px; /* Ancho máximo para el formulario */
  margin: 0 auto; /* Centra el formulario horizontalmente */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px; /* Tamaño de fuente para etiquetas */

    input,
    select {
      display: block;
      width: 70%;
      padding: 8px; /* Mayor padding para hacer el campo más grande */
      margin-top: 5px;
      border: 1px solid #ddd;
      border-radius: 8px; /* Bordes más redondeados para un aspecto más moderno */
      font-size: 16px; /* Tamaño de fuente consistente con el input */
      background-color: #fff; /* Fondo blanco para un contraste agradable */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera para profundidad */
      appearance: none; /* Elimina el estilo predeterminado del navegador */
      -webkit-appearance: none; /* Elimina el estilo predeterminado en WebKit */
      -moz-appearance: none; /* Elimina el estilo predeterminado en Firefox */
    }
  }

  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;

    &:hover {
      background-color: #0056b3;
    }
  }
}
